
/* black background with white text */
/* .container{
  background-color: #000000;
  color: #FFFFFF;
} */

body {
  margin:0;
  background-image: url("assets/space_background.png");
}

.site-header{
  position: relative;
}

.site-header h1{
  position: absolute;
  z-index: 1;
  color: #FFFFFF;
}

.all-info {
  margin-left: 7%;
  margin-right: 7%;
  color: white;
}




/* For Ipad */
@media only screen and (min-width:500px) and (max-width:768px) {













  /* For Desktop */
  @media only screen and (min-width:960px) {
