body {
  margin:0;
  background-image: url("assets/space_background.png");
}

.site-header{
  position: relative;
}

.site-header h1{
  position: absolute;
  text-align: center;
  z-index: 1;
  color: #FFFFFF;
  font-family: acumin-pro-extra-condensed, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  line-height: 90%;
}

.all-info {
  margin-left: 7%;
  margin-right: 7%;
  color: white;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

p {
  margin-left: 3%;
}

h3 {
  font-family: politica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  border: 2px;
  background-color: #97C7D3;
  padding: 2% 3%;
  cursor: pointer;
  border-radius: 0px 12px 12px 0px;
  width: 40%;

}

.header-buttons{
  height: 100px;
}
.button {
  font-family: politica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin-left: 6%;
  margin-right: 6%;
  border: 2px;
  background-color: #97C7D3;
  padding: 2% 3%;
  cursor: pointer;
  border-radius: 12px 12px 12px 12px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

blockquote {
  font-family: politica-condensed, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #FFF364;
  font-size: 35px;
}



/* For Ipad */
@media only screen and (min-width:500px) and (max-width:768px) {













  /* For Desktop */
  @media only screen and (min-width:960px) {
